
html,
body {
  min-height: 100%;
  min-width: 100%;
  /*position: relative;*/
  color: #492F1B;
}

html  {
  height: 100%;
  width: 100%;
  /*position: relative;*//*in IE8 this causes the iframe content not to render*/
}

body {
/*  min-height: 100%;
  min-width: 100%;*/
  position: relative;
  padding: 1px 0 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html.pageA {
  background-color: PaleTurquoise;
}

html.pageB {
  background-color: palegreen;
}

html:before {
  font-size: 920px;
  left: 3%;
  /*opacity: 0.02;*//*thanks to IE8 I just set the colors I eye-dropped in FF */
  position: absolute;
  top: -230px;
  font-weight: bold;
  z-index: -1;
  height: 0;
  cursor: default;
}

html.pageA:before {
  content: "A";
  color: #ACE8E7;
}
html.pageB:before {
  content: "B";
  color: #97F796;
}

h1,
h2,
form {
  margin: 20px 0 0 20px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
}

#rx {
  width: 400px;
  max-width: 96%;
  height: 10em;
  overflow: auto;
  border: 2px solid #492F1B;
  background: transparent;
  background: rgba(255,255,255,0.4);
  margin: 10px 0;
}

#rx p {
  margin: 1ex;
  padding: 0 2px;
}

#rx p:last-child {
  border-left: 2px solid white;
}

#rx .reply {
  font-style: italic;
  color: #999;
  color: rgba(0,0,0,0.4);
}

.pageA #iframeHolder {
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 20px;
  top: 20px;
  bottom: 20px;
  width: 45%;
  border: 3px solid #492F1B;
  background: #ccc;
}

.pageB #iframeHolder {
  display: none;
}

.pageA iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.pageB iframe {
  display: none;
}